<section class="bg-main-light shadow rounded-4 shadow-lg p-3">
    <h1 class="text-main text-center my-2">Forgot Password:</h1>


    @if (step == 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <div class="m-2">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email" class="form-control" placeholder="Enter your email">

            @if(verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched ||
            verifyEmail.get('email')?.dirty))
            {
            <div class="alert alert-danger w-50">
                @if (verifyEmail.get('email')?.getError('required'))
                {
                <p class="m-0">Email is required</p>
                }
                @else if (verifyEmail.get('email')?.getError('email'))
                {
                <p class="m-0">Email is Invalid.</p>
                }
            </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <button [disabled]="verifyEmail.invalid" class="btn-main">
                Verify Email
                @if(isLoading){
                <span><i class="fa fa-spinner fa-spin ms-2"></i></span>
                }
            </button>
        </div>
    </form>
    }

    @else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
        <div class="m-2">
            <label for="resetCode">resetCode</label>
            <input formControlName="resetCode" id="resetCode" type="text" class="form-control"
                placeholder="Enter your Code">

            @if(verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched ||
            verifyCode.get('resetCode')?.dirty))
            {
            <div class="alert alert-danger w-50">
                @if (verifyCode.get('resetCode')?.getError('required'))
                {
                <p class="m-0">resetCode is required</p>
                }
                @else if (verifyCode.get('resetCode')?.getError('pattern'))
                {
                <p class="m-0">resetCode is Invalid.</p>
                }
            </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code</button>
        </div>
    </form>
    }

    @else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
        <div class="m-2">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email" class="form-control" placeholder="Enter your email">

            @if(resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched ||
            resetPassword.get('email')?.dirty))
            {
            <div class="alert alert-danger w-50">
                @if (resetPassword.get('email')?.getError('required'))
                {
                <p class="m-0">Email is required</p>
                }
                @else if (resetPassword.get('email')?.getError('email'))
                {
                <p class="m-0">Email is Invalid.</p>
                }
            </div>
            }
        </div>

        <div class="m-2">
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword" id="newPassword" type="password" class="form-control"
                placeholder="Enter your New password">
        </div>

        <div class="d-flex justify-content-center">
            <button [disabled]="resetPassword.invalid" class="btn-main">Reset Password</button>
        </div>
    </form>
    }



</section>