<section class="bg-main-light shadow p-2 my-2 rounded-4 w-50 mx-auto">
    <h1 class="h2 text-main text-center">Register Now:</h1>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">

        <div class="my-2">
            <label for="name">Name:</label>
            <input [ngClass]="
                        {
                        'is-valid': !registerForm.get('name')?.errors && registerForm.get('name')?.touched,
                        'is-invalid': registerForm.get('name')?.errors && registerForm.get('name')?.touched
                        }" type="text" id="name" class="form-control" placeholder="Enter your Name"
                formControlName="name">

            @if (registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||
            registerForm.get('name')?.dirty) )
            {
            <div class="alert alert-danger w-50">
                @if (registerForm.get('name')?.getError('required'))
                {
                <p class="m-0">Name is required</p>
                }
                @else if (registerForm.get('name')?.getError('minlength'))
                {
                <p class="m-0">Name must be at least 3 characters.</p>
                }
                @else if (registerForm.get('name')?.getError('maxlength'))
                {
                <p class="m-0">Name must be at most 10 characters.</p>
                }
            </div>
            }

        </div>

        <div class="my-2">
            <label for="email">Email:</label>
            <input [ngClass]="
                        {
                        'is-valid': !registerForm.get('email')?.errors && registerForm.get('email')?.touched,
                        'is-invalid': registerForm.get('email')?.errors && registerForm.get('email')?.touched
                        }" type="email" id="email" class="form-control" placeholder="Enter your Email"
                formControlName="email">

            @if(registerForm.get('email')?.errors && (registerForm.get('email')?.touched ||
            registerForm.get('email')?.dirty))
            {
            <div class="alert alert-danger w-50">
                @if (registerForm.get('email')?.getError('required'))
                {
                <p class="m-0">Email is required</p>
                }
                @else if (registerForm.get('email')?.getError('email'))
                {
                <p class="m-0">Email is Invalid.</p>
                }
            </div>
            }
        </div>

        <div class="my-2">
            <label for="phone">Phone:</label>
            <input [ngClass]="
                        {
                        'is-valid': !registerForm.get('phone')?.errors && registerForm.get('phone')?.touched,
                        'is-invalid': registerForm.get('phone')?.errors && registerForm.get('phone')?.touched
                        }" type="text" id="phone" class="form-control" placeholder="Enter your Phone"
                formControlName="phone">

            @if(registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched ||
            registerForm.get('phone')?.dirty))
            {
            <div class="alert alert-danger w-50">
                @if (registerForm.get('phone')?.getError('required'))
                {
                <p class="m-0">Phone is required</p>
                }
                @else if (registerForm.get('phone')?.getError('pattern'))
                {
                <p class="m-0">Phone is Invalid.</p>
                }
            </div>
            }

        </div>

        <div class="my-2">
            <label for="password">Password:</label>
            <input [ngClass]="
                        {
                        'is-valid': !registerForm.get('password')?.errors && registerForm.get('password')?.touched,
                        'is-invalid': registerForm.get('password')?.errors && registerForm.get('password')?.touched
                        }" type="password" id="password" class="form-control" placeholder="Enter your Password"
                formControlName="password">

            @if(registerForm.get('password')?.errors && (registerForm.get('password')?.touched ||
            registerForm.get('password')?.dirty) )
            {
            <div class="alert alert-danger w-50">
                @if (registerForm.get('password')?.getError('required'))
                {
                <p class="m-0">Password is required</p>
                }
                @else if (registerForm.get('password')?.getError('pattern'))
                {
                <p class="m-0">Password is Invalid.</p>
                }
            </div>
            }

        </div>

        <div class="my-2">
            <label for="repassword">rePassword:</label>
            <input type="password" id="repassword" class="form-control" placeholder="rePassword"
                formControlName="rePassword">

            @if(registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched)
            {
            <p class="alert alert-danger w-50 m-0">Passwords are not matched</p>
            }

        </div>

        <!-- [disabled]="registerForm.invalid || isLoading" -->

        <button class="btn-main rounded-4 ms-auto d-block" type="submit">
            Register

            @if(isLoading){
            <span><i class="fa fa-spinner fa-spin ms-2"></i></span>
            }

        </button>

        @if( msgError ){
        <p class="alert alert-danger w-50 m-0">{{msgError}}</p>
        }

        @if(msgSuccess){
        <p class="alert alert-success w-50 m-0">Registration Successful, Redirecting in 3 sec</p>
        }

    </form>
</section>