:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.auth-bg {
    background-image: url("../../../assets/images/minimalistic-home-desk-design.jpg");
    background-size: cover;
}