<section class="bg-main-light shadow rounded-4 w-75 p-2 my-2 mx-auto">
    <h2 class="text-center">Shopping Address</h2>

    <form [formGroup]="orders" (ngSubmit)="ordersSubmit()">
        <div class="my-1">
            <label for="details">Details</label>
            <textarea formControlName="details" id="details" class="form-control"></textarea>
        </div>

        <div class="my-1">
            <label for="phone">Phone</label>
            <input formControlName="phone" id="phone" type="tel" class="form-control" />
        </div>

        <div class="my-1">
            <label for="city">City</label>
            <input formControlName="city" id="city" type="text" class="form-control" />
        </div>

        <button class="btn btn-main mt-2" type="submit">Checkout</button>
    </form>
</section>