<section class="bg-main-light rounded-4 shadow p-4 my-2 w-75 mx-auto">
  <h2 class="text-center">Orders</h2>



  <!-- @for (item of cartOrders; track $index) {
  <div class="container my-5">
    <h2 class="mb-4">My Orders</h2>

    <div *ngIf="orders.length === 0" class="alert alert-info">
      No orders found.
    </div>

    <div *ngFor="let order of orders" class="card mb-4 shadow-sm">
      <div class="card-header">
        <strong>Order ID:</strong> {{ order._id }} <br>
        <strong>Date:</strong> {{ order.createdAt | date:'medium' }}
      </div>

      <div class="card-body">
        <p><strong>Total Price:</strong> {{ order.totalOrderPrice }} EGP</p>
        <p><strong>Payment Method:</strong> {{ order.paymentMethodType }}</p>

        <p>
          <strong>Status:</strong>
          <span class="badge bg-success" *ngIf="order.isPaid">Paid</span>
          <span class="badge bg-warning text-dark" *ngIf="!order.isPaid">Not Paid</span>
        </p>

        <hr>

        <h5>Items</h5>

        <div *ngFor="let item of order.cartItems" class="d-flex mb-3">
          <img [src]="item.product.imageCover" width="80" class="me-3 rounded" />

          <div>
            <h6>{{ item.product.title }}</h6>
            <p class="mb-1">Price: {{ item.price }} EGP</p>
            <p class="mb-0">Quantity: {{ item.count }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  } -->


</section>